// Imports (other required SCSS files)
@import "reset-browsers.scss";
@import "pawtunes";

/* This file will overwrite existing CSS styles with dark ones. The changeable colors will stay the same as in light scheme. */
html {
    color: #fff;
    background: linear-gradient(darken($accent-color, 42%) 0%, darken($accent-color, 35%) 100%);
}

.pawtunes {
    .icon-fill {
        fill: darken($accent-color, 10%);
    }

    // White tooltips
    .css-hint {
        &:before {
            border-top-color: #fff;
        }

        &:after {
            color: #363636;
            background: #fff;
        }
    }

    .page.settings-page {
        .channel-list, .streams-list {
            li {
                a {
                    color: $accent-color, 40%;
                    border-color: transparent;
                    background: rgba(#486372, .3);

                    &:hover {
                        border-color: darken($accent-color, 20%);
                        background: rgba($accent-color, .2);
                    }

                    &.active {
                        border-color: darken($accent-color, 20%);
                        background: rgba(darken($accent-color, 15%), .5);
                    }
                }
            }
        }
    }

    .page.history {
        table {
            tr:hover > td {
                background: rgba(#fff, .1);
            }
        }
    }

    .player .volume-control .volume-slider {
        .vol-progress {
            background: rgba(#ccc, .2);
        }
    }

    .player .playback .play svg path,
    .player .playback .stop svg path {
        fill: darken($accent-color, 40%);
    }
}